/out/
/build/
/cmake-build-*/
/cmake-build-report.tar.gz
/.idea/couchbase-cxx-client.iml
/.idea/editor.xml
/.idea/sonarlint
/.idea/vcs.xml
/.idea/workspace.xml
/.cache
/.vs
/.vscode
/CMakeSettings.json
/CppProperties.json
